* {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-style: inherit;
  box-sizing: border-box;
  border: 0;
  outline: none;
  appearance: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

header, main, aside, footer {
  display: flex;
  width: 100%;
  height: auto;
}

header, footer {
  justify-content: space-between;
  align-items: center;
}

mark {
  background: none;
  border: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

label {
  display: flex;
  border: 0;
  user-select: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button,
input[type=button],
input[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  user-select: none;
  cursor: pointer;
}

/* THIN */
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
/* EXTRA LIGHT */
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
/* LIGHT */
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
/* REGULAR */
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
/* MEDIUM */
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
/* SEMIBOLD */
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
/* BOLD */
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
/* EXTRA BOLD */
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
/* BLACK */
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Saira";
  src: url("../../fonts/Saira/Saira-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
body {
  color: #ffffff;
  font-family: "Saira";
  font-size: 15px;
  font-weight: 400;
  background-color: #111117;
}

h1 {
  font-size: 17px;
  font-weight: 900;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

mark {
  color: #00BBFF;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-color: #00BBFF;
  border-radius: 2.5px;
}

button {
  width: 120px;
  height: 30px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  background: #00BBFF;
  border-radius: 15px;
  box-shadow: 0 1px 10px rgba(0, 187, 255, 0.2);
}
button[disabled] {
  pointer-events: none;
  opacity: 0.7;
  cursor: default;
}

input {
  width: 200px;
  height: 30px;
  padding: 0 7px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  background: #2A2A35;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: border 200ms ease;
}
input:hover, input:focus {
  border: 1px solid #00BBFF;
}

/*
<field>
  <label for="input-username">Name:</label>
  <input id="input-username" type="name" placeholder="Type your name..">
</field>
*/
field {
  display: flex;
  align-items: center;
}

/*
<droplist>
  <button>Hover me!</button>
  <div class="container">
    <div>
      <input id="option-1" name="option" value="Option1"  type="radio"checked>
      <label for="option-1">Option1</label>
    </div>
    <div>
      <input id="option-2" name="option" value="Option2" type="radio">
      <label for="option-2">Option2</label>
    </div>
    <div>
      <input id="option-3" name="option" value="Option3" type="radio">
      <label for="option-3">Option3</label>
    </div>
  </div>
</droplist>
*/
droplist {
  display: flex;
  position: relative;
  cursor: pointer;
}
droplist:hover > .container {
  display: flex;
  opacity: 1;
}
droplist .active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
droplist .container {
  display: none;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: auto;
}
droplist input[type=checkbox],
droplist input[type=radio] {
  display: none;
}

/*
<switch>
  <input id="switcher" name="switcher" type="checkbox">
  <label for="switcher"></label>
</switch>
*/
switch {
  display: inline-flex;
}
switch input {
  display: none;
}
switch input:checked ~ label::after {
  left: auto;
  right: 0;
}
switch label {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
switch label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

/*
<choice>
  <input id="choice" name="checkbox" type="checkbox">
  <label for="choice">
    <img src="/assets/images/icons/checkbox.svg">
  </label>
</choice>
*/
choice {
  display: inline-flex;
}
choice input {
  display: none;
}
choice input:checked ~ label img {
  display: block;
}
choice label {
  position: relative;
  width: 100%;
  height: 100%;
}
choice label img {
  display: none;
  width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
  background: linear-gradient(0deg, #0C102B 0%, #1A103D 54%, #060816 100%);
}

header#header {
  justify-content: center;
}
header#header h1 {
  font-size: 17px;
  font-weight: 600;
}

button#power {
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  background: linear-gradient(180deg, #5686FF 0%, #576DFF 51%, #3E56F6 100%);
  border-radius: 50%;
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.25), 0px 0px 81.4000015259px 0px rgba(49, 62, 207, 0.7), 0px 0px 100px 0px rgba(0, 0, 0, 0.3);
}
button#power:hover .content {
  transform: scale(1.05);
}
button#power:active .content {
  transform: translateY(2px);
}
button#power .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 178px;
  position: relative;
  background: linear-gradient(180deg, #FF56BB 0%, #EA486B 51%, #D98C20 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: transform 200ms ease;
  transform-origin: center;
}
button#power .content::after {
  content: "";
  display: block;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  position: absolute;
  top: 0;
  left: 0;
  margin: 3px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  z-index: 1;
}
button#power .content > * {
  z-index: 9;
}
button#power .content img {
  width: 72px;
  height: 72px;
}
button#power .content span {
  font-size: 15px;
}
button#power .content span.on {
  display: none;
}
button#power .content span.off {
  display: inline-block;
}
button#power.enabled .content {
  background: linear-gradient(180deg, #27FBFB 0%, #B1F532 51%, #51D920 100%);
}
button#power.enabled span.on {
  display: inline-block;
}
button#power.enabled span.off {
  display: none;
}

droplist#active-bat {
  width: 220px;
  height: 35px;
  background: linear-gradient(180deg, #5686FF 0%, #576DFF 51%, #3E56F6 100%);
  border-radius: 9px;
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.25);
}
droplist#active-bat[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
}
droplist#active-bat .active {
  padding: 0 15px;
}
droplist#active-bat .active img {
  width: 10px;
  height: 10px;
}
droplist#active-bat .container {
  max-height: 200px;
  bottom: 0;
  padding: 5px 15px;
  background: linear-gradient(180deg, #5686FF 0%, #576DFF 51%, #3E56F6 100%);
  border-radius: 9px;
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.25);
}
droplist#active-bat .container label {
  line-height: 16px;
  padding: 5px 0;
  transition: opacity 200ms ease-out;
}
droplist#active-bat .container label:hover {
  opacity: 0.7;
}
droplist#active-bat .container input:checked ~ label {
  opacity: 0.7;
}
