::-webkit-scrollbar {
  width: $scroll;
  height: $scroll;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-color: $accent;
  border-radius: $scroll / 2;
}
